.OneCard {
    height: 282px;
    width: 200px;
    background-color: white;
    background-size: cover;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: -178px;
    font-size: 20px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.BackCard {
    height: 282px;
    width: 200px;
    background-color: rosybrown;
    background-color: brown;
    background-size: cover;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: -178px;
    font-size: 20px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.symbolTop { 
    position: absolute;
    top: 5px;
    left: 5px;
}
.cardRank {
    max-width: 20px 
}
.suitIcon {
    width: 20px
}
.symbolCenter{
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}
.symbolBottom{
    position: absolute;
    bottom: 5px;
    right: 5px;
    transform: rotate(-180deg)
}